/* 全 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 工具島 */
#tool{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
    z-index: 999;
    padding:30px 6%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 35px 35px;
}
#tool ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 18px;
    right: 0;
    text-decoration: none;    
}
#tools a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}

/* 首頁 */
#head{
    background-color: #f6f1ed;
    width: 100%;
    height: 100vh;
    background:#f6f1ed url(./imges/封面.png)no-repeat center/contain fixed;
}

/* 關於我們 */
#me{
    background-color: #f6f1ed;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mept{
    height: 800px;
    width: auto;
    padding-left: 90px;
}
#about{
    display: flex;
    justify-content:flex-end;
    align-items: center;  
}
.ab{
    font-size: 85px;
    padding-left: 55vh;
    padding: 45px;
    position: relative;
    bottom: 300px;
}
.memain{
    font-size: 35px;
    position: relative;
    right: 110px;
}

/* 成員介紹 */
#member{
    background-color: #f6f1ed;
    width: 100%;
    height: 170vh;
}
#team{
    background-color: #f6f1ed;
    width: 100%;
    height: 120vh;
    position: relative;
}

.s{
    left: 150px;
    top: 100px;
}
.r{
    top: -100px;
    right: 200px;
}
.b{
    top: 800px;
    left: -70px;
}
.t{
    left: 1120px;
    top: 1130px;
}
.h{
    top: 665px;
    right: 145px;
}

/* 圖片裝飾分隔 */
#ptland{
    background-color: #f6f1ed;
    width: 100%;
    height: 43vh;
}

/* 最新消息 */
#new{
    background-color: #f6f1ed;
    width: 100%;
    height: 75vh;
}
#body6{
    background-color: #f6f1ed;
    width: 100%;
    height: 70vh;
     font-size: 75px;
    display: flex;
    align-items: center;
    padding-left: 30vh;
    padding-bottom: 20vh;
}

/* 聯絡我們 */
#call{
    background-color: #f6f1ed;
    width: 100%;
    height: 70vh;
}


.box{
    position: absolute;
    transition:.66s;
    z-index: 5;
    filter:drop-shadow(2px 3px 5px #ccc)
}

.box:hover{
    transform:scale(1.1) rotate(360deg);
    animation: 3s rot;
}

.texts{
    position: absolute;
    height: 100%;
    width: 200%;
    font-size: 200px;
    left:0;
    top:0;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}
.texts.active{
    animation:1s fade forwards;
}
@keyframes fade {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

/* .r:hover{
    transform: scale(1.1) rotate(360deg);
}
.s:hover{
    transform: scale(1.1) rotate(360deg);
}
.b:hover{
    transform: scale(1.2) rotate(360deg);
}
.t:hover{
    transform: scale(1.3) rotate(360deg);
}
.h:hover{
    transform: scale(1.1) rotate(360deg);
} */


